# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

ModuleNotFoundError: No module named 'api_keys'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:

cities_csv = "../Weatherpy/output_data/weather_city_data.csv"
weather_result = pd.read_csv(cities_csv)
weather_result

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,rikitea,-23.1203,-134.9692,76.08,71,100,10.11,pf,1619723338
1,batagay,67.6333,134.6333,19.67,97,99,2.08,ru,1619723338
2,shunyi,40.1250,116.6453,51.01,65,0,2.24,cn,1619723339
3,mount isa,-20.7333,139.5000,62.60,48,0,1.14,au,1619723339
4,jadu,31.9530,12.0261,80.73,11,5,4.36,ly,1619723340
...,...,...,...,...,...,...,...,...,...
547,sistranda,63.7256,8.8340,39.20,70,20,9.22,no,1619723589
548,masuguru,-11.3667,38.4167,72.37,96,10,2.77,tz,1619723589
549,nha trang,12.2500,109.1833,77.00,83,20,3.44,vn,1619723589
550,kochki,54.3358,80.4806,45.72,83,10,11.32,ru,1619723590
551,khandyga,62.6667,135.6000,27.48,99,100,1.59,ru,1619723590

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure